/* Importing a Google Font */

/* Font Lora for headings*/

.lora-custom {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 400; /* Replace with 100, 200, 300, 400, 500, 600, 700, 800 based on your need */
  font-style: normal;
}

.special-gothic-expanded-one-regular {
  font-family: "Special Gothic Expanded One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* Images*/


img {
    width: auto;
    height: auto;
    max-width: 100%;
	 
}

.large-image {
  width: 100%;
  height: auto;
  max-height: 1600px;
}

/* Logo of the navbar image*/

.logo-img {
  height: 45px;
  width: auto;
}

/* Changing the main font and background colour */

body {
	font-family: Raleway, sans-serif;
	background-color: #FFFFFF;
}

/* Changing the background colour for the header */

header {
	background-color: #F84A98;
}

/* Changing the background color for the navigation bar */

.navbar {
	background-color: #F84A98;
	font-size: 23px
}

/* Effect on social media buttons */

footer a:hover {
	opacity: .5;


/* Corporate navbar */	
		
}
.navbar {
	background-color: rgba(0, 0, 0, 0.5) !important; 
	transition: top 0.4s;
	position: fixed;
	width: 100%;
	z-index: 1030;
		
}

.navbar-nav .nav-link {
	color: #FB1CD5 !important;

}

.navbar-nav .nav-item {
	margin-right: 30px;
	

}
/* Search Button Style*/

.btn-outline-success {
	border-radius:35px;
  border: 2px solid #7AAD21;
  padding: 2px;
  width: 110px;
  height: 37px;
 margin-left: 10px;

	
}
		
/* White text shadow */

.white-shadow {
	text-shadow: -.01em -.01em .01em white,
		.02em .02em .02em white,
		0 0 .2em white,
		0 0 .5em white;
}

/* Header image+text+button*/

.image-container {
  position: relative;
  display: inline-block;
  width: 100%; 
}


.overlay-text {
  position: absolute;
  bottom: 210px; 
  left: 30px; 
  font-size: 50px;
  color: #FFFFFF; 
  font-family: "Lora", serif; 
  font-weight: 700; 
  text-align: left; 
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6); 
}


.bottom-left {
  position: absolute;
  bottom: 160px;  
  left: 30px;    
  font-size: 16px;
  text-align: left;
  color: white;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5); /* Optional: adds shadow to text */
}

/* Button 'shop now' from the heading' */
.container {
  position: relative;
  width: 50%;
}

/* Make the image responsive */
.container img {
  width: 100%;
  height: auto;
}

/* Style the button and place it in the middle of the container/image */
.container .btn {
  position: relative;
  bottom: 90px;
  left: -305px;
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  margin-left: 5px;
  cursor: pointer;
  border-radius: 5px;
}

.container .btn:hover {
  background-color: black;
}
	
/* Carousel */

.carousel-img {
	width: 50%;
	max-width: 150px;
	height: 0 auto;
	border-radius: 10px;
	box-sizing: content-box 30px;
	
	}

.carousel {
	margin-top: -330px;
    max-width: 1200px;
    margin: auto;
}


.carousel img {
  max-width: 100%;
  height: auto;
  max-height: 300px; /* Adjust this value as needed */
}
.new-arrivals-section {
  margin-top: -20px; 
  text-align: middle;
}

.new-arrivals-section h3 {
  font-size: 2rem;
  font-weight: bold; 
  color: #F84A98; 
  margin-left: 5px;
	
}

.why-choose-us h4 {
  font-size: 2rem;
  font-weight: bold; 
  color: #F84A98; 
  margin-left: 5px;
	
}



.why-choose-us-heading {
  font-size: 2rem;
  font-weight: bold;
  color: #F84A98; /* Hot pink text */
}

	